:host{
    max-width: 325px;
    display: block;
}
p.description {
    min-height: 60px;
}
img.specie {
    height: 200px;
    width: 250px;
    border-radius: 1.3rem;
    border: 1px solid rgb(32, 29, 28);
}
img.specie:hover{
    border: 3px solid rgb(133, 143, 141);
    transition: 1.3s;
    filter: saturate(180%);
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
}
.length{
    height:80px;
}