
.first{
    background-color:rgb(89, 89, 207);
}

.space{
    height: 500px;
    background-color:rgb(160, 154, 154);
}

.boton{
    align: right;
}

.header_icon{
    max-width: 300px;
    max-height: 60px;
}
.colorcito{
    background-color:orangered;
}